.wrapper {
    position: absolute;
    top: 0;
    height: calc(100vh - var(--navbar-size));
    bottom: 0;
    left: 0;
    max-width: var(--toolbar-size);
    & .list {
        padding: 20px;
        border-radius: 10px;
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        gap: 10px;
        &Item {
            & a {
                background-color: var(--bg);
                display: block;
                padding: 10px 20px;
                border-radius: 10px;
                &:hover {
                    filter: brightness(95%);
                }
            }
            &.active a {
                background-color: var(--primary);
            }
        }
    }
}
